{% extends "base.html" %}
{% block content %}
<h2>Edit Location #{{ location.idlocatie }}</h2>

<div class="card">
  <form method="post" action="{{ url_for('locations_update', idlocatie=location.idlocatie) }}" class="row">
    <input name="nume" value="{{ location.Nume }}" required>
    <input name="capacitate" value="{{ location.capacitate }}" required>
    <button type="submit">Salveaza</button>
  </form>
  <a class="link" href="{{ url_for('locations_list') }}">Inapoi</a>
</div>
{% endblock %}
